html, body {
  margin: 0 !important;
  padding: 0 !important;
  max-width: 100% !important;
  width: 100% !important;
  display: block !important;
}

.nav-banner {
  width: 100%;
  border-bottom: solid 1px #000000;
}

.navigation {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 5px;
 }

 .menu ul {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
   gap: 5px;
 }

.menu li {
    display: inline;
    margin-left: 15px;
}

  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.hero-text {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero-text div {
  width: 40vw;
}

.hero-text h4 {
  font-size: 2em;
  margin: 0;
}

.hero-image img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 4px;
}