html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

.container {
  padding: 0;
  max-width: 100%;
  width: 100%;
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  align-items: center;
  padding-top: 60px;
  border-bottom: solid 1px #000000;
  padding-bottom: 20px;
  padding-left: 0;
  padding-right: 0;
}

.menu li {
    display: inline;
    margin-left: 15px;
}

.hero-text {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 50px;
    margin-bottom: 50px;
}

.hero-text div {
    width: 40vw;
}

.hero-text h1 {
    font-size: 6em;
    line-height: 80%;
}

.hero-text h4 {
    font-size: 2em;
}